.RelativeStudylist>li {
    /*list-style-type:none;*/
    /*list-style-image: url(../../RES/Image/Setting.jpg);*/
    font-size: 28px;
   /* list-style-position: inside;*/
    border: 1px solid navy;
}

.RptRelease>li{
    list-style-type:georgian;
}

.RelativeStudylist>li>a{
    color: lightblue;
    color:black;
}
.RelativeStudylist>li>a:link{
    color:blanchedalmond;
}
.RelativeStudylist>li>a:hover{
   background-color: aquamarine;
   font-weight: 600;
   color: blue;
   cursor:cell;
}

.RelativeStudylist>li>a:active{
    background-color: #f06;
    font-weight: 600;
    color:white;
 }

 
.RelativeStudylist>li>a:visited{
    font-weight: 300;
    color:navy;
 }