*{
    margin: 0px;
    padding: 0px;
}

.head{
    width: 1200px;
    height: 50px;
    background-color: #FF3;
    margin: auto;
}

.nav{
    width: 1200px;
    height: 50px;
    background-color: #333;
    margin: auto;
}
.nav>ul>li{
    list-style-type: none;
}
.nav>ul>li>a{
    float: left;
    width: 120px;
    height: 50px;
    display: block;
    color: white;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}
.nav>ul>li>a:hover{
    background-color: #ccc;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    border-left: #777 5px solid;
    border-right: #777 5px solid;
}

.bigimg{
    width: 1200px;
    height: 200px;
    background-color: #F33;
    margin: auto;
}
.content{
    width: 1200px;
    height: 200px;
    background-color: #33F;
    margin: auto;
}
.foot{
    width: 1200px;
    height: 200px;
    background-color: #3F3;
    margin: auto;
}