*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 3460px;
    background-image: url("../Res/Image/background/bk_V09.jpeg"); 
    background-size: 100% 100%;
}

.nav{
    width: 1200px;
    height: 50px;
    background-color: #333;
    margin: 50px auto;
}

.nav>a{
    width: 120px;
    height: 50px;
    text-decoration: none;
    display: block;
    font-size: 20px;
    color: wheat;
    line-height: 50px;
    text-align: center;
    float: left;

}

.nav>a:hover{
    color: #333;
    background-color: bisque;
    font-weight: bold;
    font-size: 24px;
}

.nav>a:hover::before{
    content: "";
    display: block;
    width: 120px;
    height: 5px;
    background-color: red;
    position: relative;
    top:-5px;
    left: 0px;
}
.nav>a:hover::after{
    content: "";
    display: block;
    width: 120px;
    height: 5px;
    background-color: red;
    position: relative;
    top: -5px;
    left: 0px;
}

.customService{
    position: fixed;
    right: 0px;
    top: 40%;
}

.zindex{
    width: 400px;
    height: 400px;
    background-color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin: auto;
}

.zindex>img{
    position:absolute;
    left:100px;
    top:100px;
    z-index: -2;
}