body {
    /*background-color: lightblue;*/
    background-image: url(../../RES/2022/10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: 100%;
}

.div01 {
    width: 300px;
    height: 200px;
    background-color: transparent;
    border:2px red solid;
}