body {
    background: url(../../RES/2022/10.jpg) no-repeat center center/cover fixed;
}

.div01 {
    width: 300px;
    height: 60px;
    background-color: lightblue;
    font-family: "楷体","隶书","微软雅黑";
    color: navy;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 60px;
}
.div02 {
    width: 300px;
    height: 60px;
    background-color: rgb(195, 243, 132);
    font: italic 900 30px/60px "黑体";
    text-align: center;
    color: brown;
}

.paragraph{
    width: 500px;
    height: 800px;
    background-color: lightblue;
}

.paragraph>.p1{
    letter-spacing: 8px;
}
.paragraph>.p2{
    word-spacing: 8px;
}
.paragraph>.p3{
    direction: rtl;
}
.paragraph>.p4{
    text-decoration:line-through;
}
.paragraph>.p4_1{
    text-decoration:underline;
}
.paragraph>.p5{
    text-align: center;
}
.paragraph>.p6{
    text-indent: 50px;
}