body {
    /*background-color: lightblue;*/
    background-image: url(../../RES/2022/10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.div01 {

}